Repository AlternativeFFFF/Alt-F4, pull requests merged in 2020-08, with the labels that each got.

#16 Added check to ensure only submissions get posted to discord
  .github/workflows/Discord_Submission_Notify.yml
Labels: platform:discord

#25 Spidertron engineer
  submissions/spidertron_engineer/SpidertronEngineer_thumbnail_fullsize.png
  submissions/spidertron_engineer/spidertron_engineer.md
Labels: impact:submission

#23 Crawlertron
  submissions/crawlertron/crawlertron.md
  submissions/crawlertron/crawlertron_large.png
  submissions/crawlertron/crawlertron_tiny.png
Labels: impact:submission

#26 Updated submission bot to post on label
  .github/workflows/Discord_Submission_Notification.yml
  .github/workflows/disabled_workflows/Github_PR_Labeler.yml
Labels: platform:discord

#30 Scale spider-idle.gif down to 200px wide to reduce filesize and loading times.
  assets/GLOBAL/img/spider-idle.gif
Labels: platform:website

#37 Adding favicon to site
  assets/GLOBAL/img/favicon.ico
Labels: impact:enhancement
